* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    border: 8px solid rgba(0, 0, 0, 0.9);
}

header {
    background: url(../img/mask.png);
    height: 980px;
}

h1 {
    font-family: 'VT323', monospace;
    font-size: 120px;
    color: #fff;
    padding-top: 400px;
    text-shadow: 1px 1px #1b1a30, 2px 2px #1b1a30, 3px 3px #1b1a30, 4px 4px #1b1a30, 5px 5px #1b1a30;
}

.main-site {
    margin-top: 50px;
    font-family: 'PT Mono', monospace;
}

.members {
    padding-bottom: 70px;
}

h2 {
    padding: 50px;
}

img {
    width: 40%;
    border-radius: 25px;
}

footer {
    padding: 20px;
}

/* .main-site {
    background:
        linear-gradient(
            #fff, blue
        );
} */

.darlene {
    margin: auto;
    width: 750px;
    height: 500px;
    background:
        linear-gradient(
            rgba(0, 184, 255, 0.45),
            rgba(0, 184, 255, 0.45)
        ),
        url('../img/darlene.JPG') no-repeat center;
    border-radius: 25px;
}

a {
    background-color: #1d1d1d;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 7px;
    display: inline-block;
    transition: background-color .5s, color .5s linear, border-radius 2s ease-out;
}

a:hover {
    background-color: #696969;
    color: black;
    border-radius: 30px;
}

footer {
    margin-top: 50px;
    animation: changeShift 5s infinite;
}

@keyframes changeShift {
    0%, 100% {
        transform: translate(0,0);
        border-radius: 100px;
        background-color: #583063
    }

    20% {
        transform: translate(200px, -400px) scale(0.6, 0.6);
        border-radius: 0px;
        background-color: #b84f90
    }

    50% {
        transform: translate(500px, -700px) rotate(180deg);
        background-color: #4fb895;
    }
}