* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #cecece;
}

h1, h2, p {
    padding: 30px;
}

h1 {
    color: #fff;
}

p {
    width: 400px;
    margin: auto;
}